@model IEnumerable<MvcMovie.Models.Director>

@{
    ViewData["Title"] = "Index";
}

<div class="custom-container">
    <h1 class="page-title">Movie Directors</h1>
    <div class="main-section">
        <div class="custom-button-yellow">
            <a asp-action="Create">+Add New Director</a>
        </div>
        <div class="table-area">
            <table class="table-area-content">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
}
                </tbody>
            </table>
        </div>
        
    </div>

    

</div>   
